# NBA Playoff Predictions Frontend Setup Guide

## Prerequisites
- Ensure Node.js is installed (version 20.x recommended)
- Ensure npm is installed (version 10.x recommended)

### Modules that I 'npm install'-ed

react-router-dom
react-icons
firebase
@mui/material @emotion/react @emotion/styled @mui/icons-material
recharts
react-toastify
react-scripts